@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sora: var(--font-sora);
  --font-mono: var(--font-jetbrains-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-secondary {
  @apply bg-white font-mono px-6 py-2.5;
  box-shadow: 3px 4px 0 #00F0FF;
  /* shadow-[-10px_0_0_0_#00F0FF] shadow-[10px_0_0_0_#00F0FF] */
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.card-shadow {
  box-shadow: 8px 8px 0 0 black;
}

.box {
  @apply flex flex-col gap-2 border-3 max-w-72.5 p-4 self-end
}